* {
    -webkit-user-select: none;
    user-select: none;
}

.canvas{
    display: block;
    margin: 0px;
    position: relative;     
}

body{
    display: block;
    margin: 0px;
}

input[type=guess]{
    width: 200px;
    height: 25px;
    left: calc(50% - 100px);
    top: 65%;
    margin: auto;
    position: absolute;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    overflow: hidden;
}

.button{
    width: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid #3a803c;
    border-radius: 8px;
}

.button:hover{
    background-color: #49a54c;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(10, 98, 240);
    color: white;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
}

input:hover{
    background-color: rgb(11, 88, 211);
}

input:focus{
    background-color: rgb(10, 80, 192);
    border: 2px solid rgb(233, 149, 53);
}

select[type=gamemode] {
    background-color:rgb(10, 98, 240);
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 5px;
    transition: 0.2s;
    
    color: white;
}

option:disabled{
    color: red;
    background-color: rgb(0, 47, 255);
}

label{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    left: 75%;
}

form{
    height: 25%;
    width: 25%;
    margin: 1px;
    margin-left: 37.5%;
    margin-right: 25%;
    border-radius: 8px;
    border: 4px solid rgba(0, 0, 0, 0.507);
    background-color: rgba(0, 0, 0, 0.452);
}

.container{
    height: 12.5%;
    width: 12.5%;
    background-color: rgb(10, 98, 240);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 5px;
    position: relative;
}

.skin{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: contain;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;

    margin-top: -22px;
    padding: 16px;
    background-color: #4CAF50;
    border: 2px solid #3a803c;
    color:white;

    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
        background-color: #49a54c;
}

select[type=skin]{
    background-color:rgb(10, 98, 240);
    width: 13%;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 5px;
    transition: 0.2s;
    color: white;
}